{% extends 'base.html' %}
{% load static %}

{% block title %}
Changer Password
{% endblock %}


{% block content %}

<section class="section-conten padding-y bg">
    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
        {% include 'includes/dashboard_sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Changer Password</strong>
            </header>
            <div class="card-body">
                <div class="row"> 
                    <div class="col-md-12">
                        <form action="{% url 'change_password' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group col-md-4">
                                <label>Current Password</label>
                                <input type="password" name="current_password" class="form-control", required placeholder="Current Password">
                            </div>
                            <div class="form-group col-md-4">
                                <label>New Password</label>
                                <input type="password" name="new_password" class="form-control" required placeholder="New Password">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Confirm New Password</label>
                                <input type="password" name="confirm_new_password" class="form-control" required placeholder="Confirm New Password">
                            </div>
                            <button type="submit" class="btn btn-success w-25">Save</button>
                        </form>
                    </div>

                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>

{% endblock %}